<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.radio_button_tag :state, 'to do' %>
    
    <label>To Do</label>
    <%= f.radio_button_tag :state, 'doing' %>
    <label>Doing</label>
     <%= f.radio_button_tag :state, 'done' %>
    <label>Done</label>
  	</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
